<section class="lan-screenForm">
  <div class="lan-screenForm_wrapper lan-base_wrapper">
    <div class="lan-screenForm_title">Leave your phone number and our designer will contact you shortly!</div>
    <form class="lan-screenForm_form">
      <div class="lan-screenForm_inputs">
        <input type="text" name="phone" class="lan-screenForm_inputText" placeholder="Enter phone number">
        <input type="submit" class="lan-screenForm_inputSubmit" value="Ask a question">
      </div>
    </form>
  </div>
</section>
