<form class="lan-form">
  <div class="lan-form_title">Promotion</div>
  <div class="lan-form_desc">Discount <span class="lan-base_clrRed">35%</span> for your kitchen</div>
  <div class="lan-form_date">until 01/01/2022</div>
  <div class="lan-form_inputs">
    <input type="text" name="phone" class="lan-form_inputText js-phoneMask" placeholder="Enter phone number">
    <input type="submit" class="lan-form_inputSubmit" value="Get Discount">
  </div>
</form>
