<div class="lan-questions">
  <div class="lan-base_wrapper">
    <div class="lan-base_globalTitle lan-base_globalTitle-center">
      Still have questions?&nbsp;-<br><span class="lan-base_clrRed">We'll be happy to&nbsp;answer them!</span>
    </div>

    <div class="lan-questions_grid">
      <div class="lan-questions_cellTime">
        <div class="lan-questions_time">
          We answer the&nbsp;phone<br> from&nbsp;9:00 to&nbsp;21:00,<br> seven days a&nbsp;week!
        </div>
      </div>
      <div class="lan-questions_cellAdrs">
        <div class="lan-questions_adrs">
          Krasnodar,<br>
          st.&nbsp;Red Partizans,&nbsp;483
        </div>
      </div>
      <div class="lan-questions_cellPhoto">
        <div class="lan-questions_photo">
          <picture>
            <source srcset="./img/questions/img.avif 1x, ./img/questions/img@2x.avif 2x" type="image/avif">
            <source srcset="./img/questions/img.webp 1x, ./img/questions/img@2x.webp 2x" type="image/webp">
            <img class="lan-questions_imgSrc" src="./img/questions/img.jpg" alt="Style" srcset="./img/questions/img.jpg 1x, ./img/modal/img@2x.jpg 2x">
          </picture>
        </div>
        <div class="lan-questions_name">
          <span class="lan-base_clrRed">Julia</span>, Designer
        </div>
      </div>
      <div class="lan-questions_cellPhone">
        <div class="lan-questions_phone">
          +7 (989) 277-94-30
        </div>
      </div>
    </div>
  </div>
</div>
