<div class="lan-stickMenu js-stickMenu">
  <div class="lan-base_wrapper">
    <div class="lan-stickMenu_flex">
      <div class="lan-stickMenu_logo">
        <img src="./img/header/logo.svg" class="lan-stickMenu_logoImg" alt="">
      </div>
      <div class="lan-stickMenu_list">
        {% for item in menu %}
          <a href="{{ item.link }}" class="lan-stickMenu_link">{{ item.text }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
