<section class="lan-connect">
  <div class="lan-base_wrapper">
    <div class="lan-base_globalTitle">Don't know what<br> <span class="lan-base_clrRed">kitchen design to choose?</span></div>
  </div>
</section>
