<section class="lan-mainScreen">
  <div class="lan-base_wrapper">
    <h1 class="lan-mainScreen_title">Kitchens to order <span class="lan-mainScreen_titleSpan lan-base_clrRed">in Krasnodar</span></h1>
    <div class="lan-mainScreen_list">
      <div class="lan-mainScreen_oneItem lan-mainScreen_oneItemIcon1">Price from <span class="lan-base_clrRed lan-base_weightSemiBold">19990&nbsp;₽&nbsp;m./p.</span></div>
      <div class="lan-mainScreen_oneItem lan-mainScreen_oneItemIcon2">We will produce from <span class="lan-base_clrRed lan-base_weightSemiBold">7&nbsp;days</span></div>
      <div class="lan-mainScreen_oneItem lan-mainScreen_oneItemIcon3">Warranty <span class="lan-base_clrRed lan-base_weightSemiBold">2&nbsp;years</span></div>
    </div>

    {% include '../../components/form/form.twig' %}
  </div>
</section>