<div id="callback" class="lan-modal_wrapper lan-modal_wrapperSmall mfp-hide">
  <div class="lan-modal_text">Leave your phone number now and our designer will contact you shortly!</div>
  <form class="lan-modal_smallForm">
    <input type="text" class="lan-modal_smallFormInput js-phoneMask" placeholder="Your phone">
    <input type="submit" class="lan-modal_smallFormSubmit" value="Get Catalog">
  </form>
</div>

<div id="cost" class="lan-modal_wrapper mfp-hide">
  Cost
</div>