<header class="lan-header">
  <div class="lan-base_wrapper">
    <div class="lan-header_top">
      <div class="lan-header_logo">
        <img src="./img/header/logo.svg" class="lan-header_logoImg" alt="">
        <div class="lan-header_desc">Kitchens to order in Krasnodar</div>
      </div>
      <div class="lan-header_separator"></div>
      <div class="lan-header_time">
        We answer calls<br>
        from&nbsp;9:00 to&nbsp;21:00<br>
        seven days a&nbsp;week
      </div>
      <div class="lan-header_separator"></div>
      <div class="lan-header_place">
        Krasnodar,<br> st.&nbsp;Red Partizans, 483
      </div>
      <div class="lan-header_separator"></div>
      <div class="lan-header_calc">
        <a href="#cost" class="lan-header_calcBtn js-modal">Calculate the cost</a>
      </div>
      <div class="lan-header_separator"></div>
      <div class="lan-header_phones">
        <a href="tel:+78612179376" class="lan-header_phone">+7 (8612) 17-93-76</a>
        <a href="tel:+79892779430" class="lan-header_phone">+7 (989) 277-94-30</a>
        <a href="#callback" class="lan-header_callback js-modal">Call you back?</a>
      </div>
      <div class="lan-header_burger"></div>
    </div>

    <div class="lan-header_bottom">
      {% include '../mainMenu/mainMenu.twig' with menu %}
    </div>
  </div>
</header>
