<footer class="lan-footer">
  <div class="lan-base_wrapper">
    <div class="lan-footer_flex">
      <div class="lan-footer_flexLeft">
        "Deutsche Standart" The information on&nbsp;this site does not&nbsp;constitute a&nbsp;public offer.<br>
        This site is&nbsp;not an&nbsp;online store
      </div>
      <div class="lan-footer_flexRight">
        <div class="lan-footer_policy">
          <a href="javascript:" class="lan-footer_policyLink">Privacy Policy</a>
        </div>
        <div class="lan-footer_copy">
          © All Rights Reserved
        </div>
      </div>
    </div>
  </div>
</footer>
