<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Markup landing example for github | Eugine Kunitsa (telegram: @ekunitsa94)</title>
    <meta name="description" content="Markup landing example for github">
    <link rel="apple-touch-icon" sizes="180x180" href="./img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon-16x16.png">
    <link rel="manifest" href="./img/site.webmanifest">
    <link rel="mask-icon" href="./img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="./img/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- avif\webp script -->
    <script>
      function addClass(A){document.documentElement.classList.add(A)}var avif=new Image;function check_webp_feature(a){var e=new Image;e.onload=function(){var A=0<e.width&&0<e.height;a(A)},e.onerror=function(){a(!1)},e.src="data:image/webp;base64,UklGRhoAAABXRUJQVlA4TA0AAAAvAAAAEAcQERGIiP4HAA=="}avif.src="data:image/avif;base64,AAAAIGZ0eXBhdmlmAAAAAGF2aWZtaWYxbWlhZk1BMUIAAADybWV0YQAAAAAAAAAoaGRscgAAAAAAAAAAcGljdAAAAAAAAAAAAAAAAGxpYmF2aWYAAAAADnBpdG0AAAAAAAEAAAAeaWxvYwAAAABEAAABAAEAAAABAAABGgAAAB0AAAAoaWluZgAAAAAAAQAAABppbmZlAgAAAAABAABhdjAxQ29sb3IAAAAAamlwcnAAAABLaXBjbwAAABRpc3BlAAAAAAAAAAIAAAACAAAAEHBpeGkAAAAAAwgICAAAAAxhdjFDgQ0MAAAAABNjb2xybmNseAACAAIAAYAAAAAXaXBtYQAAAAAAAAABAAEEAQKDBAAAACVtZGF0EgAKCBgANogQEAwgMg8f8D///8WfhwB8+ErK42A=",avif.onload=function(){addClass("avif")},avif.onerror=function(){check_webp_feature(function(A){return addClass(A?"webp":"fallback")})};
    </script>
    <!-- /// -->

    <link href="./css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <!-- variables -->
    {% set menu = [
      {
        'link': 'javascript:',
        'text': 'Prices'
      },
      {
        'link': 'javascript:',
        'text': 'Promotion'
      },
      {
        'link': 'javascript:',
        'text': 'Materials'
      },
      {
        'link': 'javascript:',
        'text': 'How to order'
      },
      {
        'link': 'javascript:',
        'text': 'Our works'
      },
      {
        'link': 'javascript:',
        'text': 'Reviews'
      },
      {
        'link': 'javascript:',
        'text': 'Contacts'
      },
    ]
    %}


    <!-- page -->
    <div class="lan-base_shadow js-bodyShadow"></div>
    {% include 'components/stickMenu/stickMenu.twig' with menu %}
    {% include 'components/mobileMenu/mobileMenu.twig' with menu %}
    {% include 'components/header/header.twig' with menu %}
    <main>
      {% include 'components/mainScreen/mainScreen.twig'%}
      {% include 'components/utp/utp.twig'%}

      {% include 'components/step/step.twig'%}
      {% include 'components/reviews/reviews.twig'%}
      {% include 'components/mainScreen/mainScreen.twig' with {'second': true} %}
      {% include 'components/questions/questions.twig'%}
      {% include 'components/screenForm/screenForm.twig'%}
      {% include 'components/contacts/contacts.twig'%}
    </main>

    {% include 'components/footer/footer.twig'%}

    {% include 'components/modal/modal.twig'%}
    {% include 'components/toTop/toTop.twig'%}

    <!-- global scripts -->
    <script src="js/main.js"></script>
  </body>
</html>